{# src/OC/PlatformBundle/Resources/views/Advert/plateau.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur LoveLetter !</title>
  </head>
  <body>
    <h1>Plateau de jeu</h1>
		<div id="joueur1"> </div>
		<img src="{{ asset(plateau) }}" height = 500  width = 900 alt="plateau" align="center" />
		<img src="{{ asset(verso) }}" height = 200  width = 150 alt="verso" align="right" />
		<div id = "joueur2"> </div>
		
		<script src="jquery-3.3.1.js"></script>
		<script >
		
		
			$('<img src="/LoveLetterv3/LoveLetter/web/img/princess.png" width="50" height="50" />').insertAfter($('joueur1'));

		
		</script>
  </body>
</html>
