{# src/OC/PlatformBundle/Resources/views/Advert/plateau.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur LoveLetter !</title>
  </head>
  <body>
    <h1>Plateau de jeu</h1>
		<div name="joueur1"> </div>
		<img src="{{ asset(plateau) }}" height = 500  width = 900 alt="plateau" align="center" />
		<img src="{{ asset(verso) }}" height = 200  width = 150 alt="verso" align="right" onclick="my()"/>
		<div id = "joueur2"> </div>
		
		
		{% block javascripts %}
		
		<script src="/LoveLetterv3/LoveLetter/web/jquery-3_2_1.js"></script>
		<script>
				function my(){

				alert("ifbiufbisubfirugiore");
				
			document.getElementByName("joueur1")[0].write('<img src="/LoveLetterv3/LoveLetter/web/img/princess.png" width="100" height="94" />');

			$('<img src="/LoveLetterv3/LoveLetter/web/img/princess.png" width="50" height="50" />').insertAfter($('joueur1')); 
			};
		
		</script>
		
		{% endblock %}
  </body>
</html>
